@import '~antd/dist/antd.css';

.main {
  width: 1400px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
  padding: 10px;
  height: 748px;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}
.tag{
  margin-bottom: 10px;
  font-size: 20px;
}
.ant-input-number{
  width: 100%;
}
.title {
  font-size: 30;
  color: red;
}
.red{
  color: red;
}
.ant-card {
  width: 400px;
  font-size: 22px;
  font-weight: 600;
  border: solid 2px red;
  background: #000;
  color: #37c427;
  margin: auto;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  ;
}

.ant-form-item-label {
  font-size: 16px;
  font-weight: 600;
}

.ant-input-number {
  border: solid 1px #0e46c9 !important;
}

.ant-select-selector {
  color: #0e46c9;

}
.ant-select-multiple {
  .ant-select-selector {

    .ant-select-selection-item {
      border: solid 1px #0e46c9 !important;
      color: #0e46c9;
    }
  }
}
.button{
  border: solid 1.5px #0e46c9 !important;
  color:#0e46c9 ;
  font-weight: 600;
}
.button:hover{
 
  color:red ;
}